[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "firmware/tinyprintf"]
	path = firmware/tinyprintf
	url = https://github.com/cjlano/tinyprintf.git
[submodule "firmware/cifra"]
	path = firmware/cifra
	url = https://github.com/ctz/cifra
[submodule "firmware/utils/dfu-util"]
	path = firmware/utils/dfu-util
	url = git://git.code.sf.net/p/dfu-util/dfu-util
[submodule "firmware/utils/stm32loader"]
	path = firmware/utils/stm32loader
	url = https://github.com/jsnyder/stm32loader
