[Unit]
Description=Washing machine orchestrator for wascheninfreiheit
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m PREFIX
Restart=on-failure
User=waschfreiheit
Group=waschfreiheit

[Install]
WantedBy=multi-user.target
