[Unit]
Description=Washing machine orchestrator for wascheninfreiheit
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/alarm/waschinterface/interface/main.py -c /home/alarm/waschinterface/interface/nodes.json -s /dev/ttyUSB0

[Install]
WantedBy=multi-user.target
