[Unit]
Description=Washing machine orchestrator for wascheninfreiheit
After=network.target

[Service]
ExecStart=/usr/bin/python3 main.py
Restart=always
User=waschfreiheit
WorkingDirectory=PREFIX

[Install]
WantedBy=multi-user.target
